* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #00aaff;
    border-radius: 10px;
}

::selection {
    background: #00aaff;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a0a0a;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #111;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo a {
    font-size: 28px;
    font-weight: bold;
    color: #00aaff;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00aaff;
}

.btn {
    background-color: #00aaff;
    padding: 10px 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0088cc;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 8% 50px;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.hero-text span {
    color: #00aaff;
}

.hero-text h2 {
    font-size: 32px;
    color: #ccc;
    margin-bottom: 20px;
}

.hero-text p {
    line-height: 1.8;
    color: #aaa;
    margin-bottom: 30px;
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn-outline {
    border: 2px solid #00aaff;
    padding: 10px 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-outline:hover {
    background-color: #00aaff;
}

.hero-image img {
    width: 350px;
    border-radius: 20px;
    border: 2px solid #00aaff;
    object-fit: cover;
}

/* Hero Animation */
.hero-image img {
    animation: floatImage 3s ease-in-out infinite;
    box-shadow: 0 0 25px rgba(0, 170, 255, 0.4);
}

/* Floating Effect */
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.hero-text {
    animation: fadeUp 1.2s ease;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Mobile */
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .nav-links {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 180px;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text h2 {
        font-size: 24px;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image img {
        width: 260px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 260px;
    }
}

/* About Section */
.about {
    padding: 100px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    background-color: #111;
}

.about-image img {
    width: 320px;
    border-radius: 20px;
    border: 2px solid #00aaff;
    box-shadow: 0 0 20px rgba(0, 170, 255, 0.25);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 42px;
    color: #00aaff;
    margin-bottom: 25px;
}

.about-content p {
    color: #ccc;
    line-height: 1.9;
    margin-bottom: 18px;
    font-size: 18px;
}

.about-content .btn {
    display: inline-block;
    margin-top: 10px;
}

/* Skills Section */
.skills {
    padding: 100px 8%;
    background-color: #0a0a0a;
}

.section-title {
    text-align: center;
    font-size: 42px;
    color: #00aaff;
    margin-bottom: 50px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
}

.skill-card {
    background-color: #111;
    padding: 30px 20px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #222;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}

.skill-card:hover {
    transform: translateY(-8px);
    border-color: #00aaff;
    box-shadow: 0 0 20px rgba(0, 170, 255, 0.25);
    color: #00aaff;
}

/* Projects Section */
.projects {
    padding: 100px 8%;
    background-color: #111;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.project-card {
    background-color: #0a0a0a;
    padding: 30px;
    border-radius: 18px;
    border: 1px solid #222;
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    border-color: #00aaff;
    box-shadow: 0 0 20px rgba(0, 170, 255, 0.25);
}

.project-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #00aaff;
}

.project-card p {
    color: #ccc;
    line-height: 1.8;
    margin-bottom: 20px;
}

.project-card a {
    color: #00aaff;
    font-weight: bold;
}

/*  */
.full-text {
    display: none;
}

.read-more-btn {
    background: transparent;
    color: #00aaff;
    border: 1px solid #00aaff;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    transition: 0.3s ease;
    font-weight: 600;
    margin-right: 20px;
}

.read-more-btn:hover {
    background: #00aaff;
    color: #000;
    box-shadow: 0 0 12px #00aaff;
    transform: translateY(-2px);
}

/* Contact Section */
.contact {
    padding: 100px 8%;
    background-color: #0a0a0a;
}

.contact-container {
    max-width: 700px;
    margin: auto;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contactForm input,
#contactForm textarea {
    padding: 16px;
    background-color: #111;
    border: 1px solid #222;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    outline: none;
}

#contactForm input:focus,
#contactForm textarea:focus {
    border-color: #00aaff;
}

#formMessage {
    margin-top: 10px;
    font-weight: bold;
}

/* Footer */
.footer {
    padding: 50px 8%;
    text-align: center;
    background-color: #111;
    border-top: 1px solid #222;
}

.footer h3 {
    font-size: 30px;
    color: #00aaff;
    margin-bottom: 10px;
}

.footer p {
    color: #aaa;
    margin-bottom: 15px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.social-links a {
    color: white;
    transition: 0.3s;
}

.social-links a:hover {
    color: #00aaff;
}

.copyright {
    font-size: 14px;
    color: #666;
}